@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="mt-3">RecipeMate</h1>
    <p class="mt-3">Forgot the recipe you wanted to make but you have the ingredients? <br/> Begin typing the ingredient and the related recipe will be displayed.</p>
    <form class="d-flex justify-content-center" method="post">
        @if (!ModelState.IsValid)
        {
            <!-- TODO style this properly -->
            <p class="text-danger">
                <p>There are some errors:</p>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </p>
        }
        <p>
            <input class="form-control" type="text" name="ingredients"/>
        </p>
    </form>
    @* display the result here *@
    @if (Model.Recipes != default)
    {
        <p>Honhonhon! I will visit ze vending machine and buy:</p>
        
        
        @foreach (var recipe in Model.Recipes)
        {
            <h3>@recipe.Title</h3>
            <img src="@recipe.ImageUrl"/>
            <p>(display the rest of the recipe here however you like)</p>
        }
    }
</div>